// Typography
$h1-font-size:  1.5rem;
$h2-font-size:  1.25rem;
$h3-font-size:  1.0rem;
$h4-font-size:  0.9375rem;
$h5-font-size:  0.70rem;
$h6-font-size:  0.625rem;

$headings-font-weight: 500;

// Dropdown
$dropdown-font-size : inherit;

// Card
$card-border-width : 1px;
$card-border-color : #edf2f9;
$card-border-radius : .5rem;
$card-cap-bg: transparent;


